.container {
    padding: 1em;}
.managersList {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.listItem {
    display: flex;
    gap: 1em;
    background-color: lightblue;
    padding: 0.5em;
    border-radius: 10px;
}