.dot {
    font-size: 50px;
}

.selectWeight {
    display: flex;
    flex-direction: row;
}

.previewTop {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.createsurvey{
    max-width: 15vh;
}
.createsurveystuff{
}
.creatsurveything{
}
.createsurveybuttons{
    flex-direction: row;
    margin: auto;
    position:center;
}
