.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.inputlogin{
    text-align: center;
}

.loginForm {
    
    text-align: center;
    box-sizing: inherit;
    align-items: center;
}

.button{
    font-size: large;
    text-align: center;
    justify-content: center;
    background: transparent;
    border-radius: 15%;
    left: 50%;
    width: max-content;
    margin-top: 1rem;
}