.container {
    padding: 1em;
}
.surveyList {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.listItem {
    display: flex;
    gap: 1em;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}