:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px; */
  min-height: 100vh;
  background-color: beige;
  /* background-image: url("https://i.gyazo.com/897cbc5bf70aad1f7ca32f031761f4ba.jpg"); */
  background-image: url("https://i.imgur.com/XNRHL8q.jpg");
  background-size: cover;
  font-family: 'Montserrat';  
  background-position: center; 
  resize: both;
}

p {
  white-space: pre-line;
}

a {
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  border-radius: 0.5rem;
  padding: 0.6em 1.2em;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

input[type="date"] {
  width: 20ch;
}

textarea {
  border-radius: 0.5rem;
  padding: 0.6em 1.2em;
  border-style: solid;
  border-color: black;
  resize: vertical;
  border-width: 1px;
}

h3{

}

button {
  width: fit-content;
  padding: 0.6em 1.2em;
  border-radius: 10px;
  background-color: #dccbbd;
  font-size: large;
  color: black !important;
}
button.colored {
  background-color: #dcdcd9;
}
button.delete {
  background-color: tomato;
}

button:hover {
  border-color:  #3b4042;
  background-color:#aaa5a0  ;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.color1 {
  background-color: #dcdcd9;
}

.color2 {
  background-color: white;
}

.color3 {
  background-color: rgba(255,255,255, 0.9);
}

.margin1 {
  margin: 1rem;
}

.padding1 {
  padding: 1rem;
}

.rounded {
  border-radius: 0.5rem;
}

.bold {
  font-weight: bolder;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
    
  }
  /* button {
    background-color: #f9f9f9;
  } */
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  position:center;
  padding: 2em;
  border-radius: 10px;
  max-width: 70ch;
}

main {
  border-radius: 0.5em;
  padding: 1em;
}

label {
  display: flex;
  flex-direction: column;
}

p.error {
  color: red;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.center-align {
  display: flex;
  align-items: center;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

::placeholder {
  color: black;
  opacity: 0.75;
}

input{
  font-size: large;
  font-weight:900;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(33, 28, 28);
}

input.line {
  border-radius: 0;
}


.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.sticky-header {
  position: sticky;
  top: 10vh;
}

input.medium {
  width: 25ch;
  text-align: center;
}
.search-bar {
  width: 30ch;
  max-width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.5rem;
}

.list-item {
  display: flex;
    gap: 1em;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.kooditlista{
  font-family: Arial, Helvetica, sans-serif;
}

/* Mobile */
@media only screen and (max-width: 30em) {
  button {
    font-size: small;
  }
  div {
    font-size: small;
  }
} 
